// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: whitesmoke;
  color: dimgray;
  font-family: sans-serif;
}

p {
  font-style: italic;
  font-size: smaller;
}

.container {
  background-color: lightgray;
  text-align: center;
  padding: 30px;
}

.bold {
  font-style: bold;
}
